name: Continuous integration
on: [push, pull_request]
env:
  # Bump this number to invalidate the Github-actions cache
  cache-invalidation-key: 0
jobs:
  cabal-test:
    name: cabal test
    env:
      NIXSHELL: nix-shell --pure
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Build Nix dependencies
      run: $NIXSHELL --run "echo '=== Installed ==='"
    - name: Cache Cabal dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          dist-newstyle
        key: cache-${{ runner.os }}-${{ hashFiles('nixpkgs.nix') }}-v${{ env.cache-invalidation-key }}-${{ hashFiles('linear-base.cabal') }}-${{ github.sha }}
        restore-keys: cache-${{ runner.os }}-${{ hashFiles('nixpkgs.nix') }}-v${{ env.cache-invalidation-key }}-${{ hashFiles('linear-base.cabal') }}-
    - name: Update Cabal's database
      run: $NIXSHELL --run "cabal update"
    - name: Build Cabal's dependencies
      run:  $NIXSHELL --run "cabal build --enable-tests --enable-benchmarks --dependencies-only"
    - name: Build
      run: $NIXSHELL --run "cabal build"
    - name: Test
      run: $NIXSHELL --run "cabal test"
    - name: Haddock
      run: $NIXSHELL --run "cabal haddock"
  stack-build:
    name: stack build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Cache dependencies
      uses: actions/cache@v2.1.6
      with:
        path: ~/.stack
        key: stack-${{ runner.os }}-v${{ env.cache-invalidation-key }}-${{ hashFiles('stack.yaml.lock', 'linear-base.cabal') }}
    - name: Upgrade stack
      run: stack upgrade
    - name: Build
      run: stack build --pedantic --test --bench --no-run-tests --no-run-benchmarks
